.navbar {
  position: fixed;
  top: 0;
  right: -1000px;
  width: 45%;
  height: 100vh;
  transition: right 1s ease;
  overflow: auto;
  background: #ffd747;
  z-index: 1000;
}
.navbar-show {
  right: 0;
}
.close-btn {
  width: 30px;
  height: 30px;
  border-color: transparent;
  background: url("../../assets/icons/close-red30.png") no-repeat;
  transition: transform (ease-in-out) 0.3s;
  cursor: pointer;

  &:hover {
    transform: rotate(360deg);
  }
}
.active-menu {
  top: 94px;
  pointer-events: all;
  transition: right 1s;
}
.navbar-list {
  // width: 30%;
  // height: 100vh;
  margin-top: 10%;
  margin-left: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #443444;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.navbar-list-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
  line-height: 50px;
  vertical-align: top;
  z-index: 100;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  &:hover {
    color: #f33346;
    text-decoration: underline;
  }
}
.active-link {
  color: #838888;
  text-decoration: underline;
  pointer-events: none;
}

.navbar-icon {
  display: inline-block;
  width: 60px;
  height: 50px;
  background-size: contain;
}
.pig {
  background: url("../../assets/icons/pig48.png") no-repeat;
}
.whale {
  background: url("../../assets/icons/whale48.png") no-repeat;
}
.bug {
  background: url("../../assets/icons/bug48.png") no-repeat;
}
.food1 {
  background: url("../../assets/icons/milk48.png") no-repeat;
}
.food2 {
  background: url("../../assets/icons/food5.png") no-repeat;
}
.emotions {
  background: url("../../assets/icons/tom48.png") no-repeat;
}

.sports {
  background: url("../../assets/icons/sports.png") no-repeat;
}
.actions {
  background: url("../../assets/icons/runners-color48.png") no-repeat;
}
.fairytales {
  background: url("../../assets/icons/castel48.png") no-repeat;
}
.main-page-icon {
  background: url("../../assets/icons/frog48.png") no-repeat;
}

@media screen and (max-width: 640px) {
  .navbar-list-item {
    font-size: 16px;
  }
  .navbar-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .navbar-list-item {
    font-size: 14px;
  }
}
