// @font-face {
//   font-family: "Roboto";
//   src: url("./assets/fonts/Roboto-Regular.ttf");
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("./assets/fonts/Roboto-Bold.ttf");
// }
// @font-face {
//   font-family: "Roboto";
//   src: url("./assets/fonts/Roboto-Medium.ttf");
// }
@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}
input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100%;
  padding: 1.8rem 1.8rem 6rem 1.8rem;
  font-family: Quicksand, sans-serif;
  color: #f33346;
  // color: #ffd747;
  // background: url("./assets/seamless-pattern-1089797_1920.png");
  // background: url("./assets/polka-dots-937612.jpg");
  // background: url("./assets/background-1749545_1920.jpg");
  background: url("./assets/paper-flower-background-4794429_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background: url("./assets/flowers-5747688.svg");
  font-size: 1rem;
}

button {
  margin: 0 0 0 0;
}

.main {
  // margin-top: 30vh;
  max-height: auto;

  // display: flex;
  // justify-content: center;
  // align-items: center;
}

h1 {
  display: none;
  width: 0.1px;
  height: 0.1px;
}
.nav {
  margin: 0 auto;
  // padding-left: 3.94%;
  // padding-right: 3.94%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
// burger-menu
// .results {
//   margin: 0 auto;
//   padding-top: 1%;
//   // padding-left: 3.94%;
//   // padding-right: 3.94%;
//   width: 75%;
//   height: 2rem;
//   display: flex;
//   justify-content: flex-end;
//   height: 26px;
//   overflow: hidden;
// }
.right-img-result {
  background: url("./assets/icons/heart-yel26.png");
  width: 26px;
  height: 26px;
}
.wrong-img-result {
  background: url("./assets/icons/heart-white26.png");
  width: 26px;
  height: 26px;
}
// .menu-wrapper {
//   width: 4.5rem;
//   height: 4.5rem;
//   border-radius: 50%;
//   border: 3px solid #f33346;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #ffffff;

//   transition: transform (ease-in-out) 0.7s;

//   &:hover {
//     transform: rotate(720deg) scale(1.2);
//     background-color: #ffd747;
//     color: #8ceeee;
//   }
// }

// .menu {
//   border-color: #f33346;
//   transition: transform (ease-in-out) 0.7s;
//   cursor: pointer;

//   &:hover {
//     transform: scale(1.2);
//     background-color: #ffd747;
//   }
// }
// .menu-line {
//   margin: 0 auto;
//   width: 1.8rem;
//   height: 0.3rem;
//   border-bottom: #f33346 solid 4px;
// }
// .navbar {
//   position: fixed;
//   top: 0;
//   right: 0px;
//   // right: -1000px;
//   width: 40%;
//   height: 100%;
//   transition: right 1s ease-in-out;
//   overflow: auto;
//   background: #ffd747;
// }
// .close-btn {
//   width: 30px;
//   height: 30px;
//   border-color: transparent;
//   background: url("./assets/icons/close-red30.png") no-repeat;
//   transition: transform (ease-in-out) 0.3s;
//   cursor: pointer;

//   &:hover {
//     transform: rotate(360deg);
//   }
// }
// .active-menu {
//   top: 94px;
//   pointer-events: all;
//   transition: right 1s;
// }
// .navbar-list {
//   // width: 30%;
//   // height: 100vh;
//   margin-top: 10%;
//   margin-left: 20%;
//   height: auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: start;
//   color: #443444;
//   // color: #725a72;
//   font-size: 1.5rem;
//   text-transform: capitalize;
// }
// .navbar-list-item {
//   position: relative;
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   padding-bottom: 10px;
//   width: 100%;
//   text-align: left;
//   line-height: 50px;
//   vertical-align: top;
//   z-index: 100;
//   transition: all ease-in-out 0.3s;
//   cursor: pointer;

//   &:hover {
//     color: #f33346;
//     text-decoration: underline;
//   }
// }
// .current-page-item {
//   color: #838888;
//   text-decoration: underline;
//   pointer-events: none;
// }

// .navbar-icon {
//   display: inline-block;
//   width: 60px;
//   height: 50px;

//   background-size: contain;
// }
// .pig {
//   background: url("./assets/icons/pig48.png") no-repeat;
// }
// .whale {
//   background: url("./assets/icons/whale48.png") no-repeat;
// }
// .bug {
//   background: url("./assets/icons/bug48.png") no-repeat;
// }
// .food1 {
//   background: url("./assets/icons/milk48.png") no-repeat;
// }
// .food2 {
//   background: url("./assets/icons/food5.png") no-repeat;
// }
// .emotions {
//   background: url("./assets/icons/tom48.png") no-repeat;
// }

// .actiions {
//   background: url("./assets/icons/sports.png") no-repeat;
// }
// .fairytales {
//   background: url("./assets/icons/castel48.png") no-repeat;
// }
// .main-page-icon {
//   background: url("./assets/icons/frog48.png") no-repeat;
// }
// //switcher train-game start
// .play-switch-btn {
//   // width: 6rem;
//   z-index: 1;
//   position: relative;
//   width: 6.9rem;
//   height: 2rem;
//   border-radius: 190px;
// }
// .play-switch {
//   position: relative;
//   display: inline-block;
//   width: 7rem;
//   height: 2.1rem;
// }

// .play-switch-box {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .play-switch-slider {
//   position: absolute;
//   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   padding-left: 40px;
//   line-height: 2.1rem;
//   background-color: #ffffff;
//   transition: 0.4s;
//   border-radius: 190px;
//   font-size: 1rem;
//   text-transform: uppercase;
// }

// .none {
//   display: none;
// }

// .play-switch-slider:before {
//   position: absolute;
//   content: "";
//   height: 1.9rem;
//   width: 1.9rem;
//   left: 2px;
//   right: 2px;
//   bottom: 2px;
//   top: 2px;
//   border-radius: 50%;
//   background-color: #f33346;
//   box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
//   transition: 0.4s;
// }

// .play-switch-box:checked + .play-switch-slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   padding-left: 15px;
//   line-height: 2.1rem;
//   background-color: #ffd747;
//   color: #ffffff;
//   transition: 0.4s;
//   border-radius: 190px;
//   font-size: 1rem;
//   text-transform: uppercase;
// }

// .play-switch-box:checked + .play-switch-slider:before {
//   -webkit-transform: translateX(4.9rem);
//   -ms-transform: translateX(4.9rem);
//   transform: translateX(4.9rem);
//   background-color: #f33346;
// }
// //switcher train-game end

.cards-field {
  margin: 0 auto;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container {
  margin: 1%;
  flex: 1 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;

  &:hover > .card {
    transform: translateZ(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}
.card {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.25rem black;
  transform-style: preserve-3d;
  transform-origin: right;
  // transition: all 1s;
  transition: transform 1s;
  perspective: 2000px;

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    transition: all 0.7s;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  &.flipped .card-front {
    // transform: rotateY(180deg) translateX(-100%);
    transform: rotateY(180deg);
    // transform-origin: center;
    backface-visibility: hidden;
  }
  &.flipped .card-back {
    transform: rotateY(360deg);
    // transform-origin: left;
  }
  // &.flipped > .card-back {
  //   transform: rotateY(360deg);
  //   // transform-origin: left;
  // }

  // &__front,
  // &__back {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   backface-visibility: hidden;
  //   border-radius: inherit;
  // }

  // &__front {
  //   width: 100%;
  //   height: 100%;
  //   background-color: crimson;
  //   background: no-repeat center;
  //   background-size: cover;
  //   background-image: url("./assets/fairytale/fairytales3-witch.png");
  // }
  // &__back {
  //   // display: none;
  //   background-color: darkblue;
  //   background-image: url("./assets/3.png");
  //   background-position: center;
  //   background-size: contain;
  //   transform-style: preserve-3d;
  //   transform: rotateY(180deg);
  // }
}
.hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.before-start {
  pointer-events: none;
}

.img-card {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 70%;
  background-color: #ffffff;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("./assets/animals/animals16-leopard.svg");
  transition: all 0.5s;
}
.play {
  height: 90%;
}

.inactive {
  opacity: 0.2;
  pointer-events: none;
}

.flipp-button {
  width: 30px;
  height: 30px;
  background: url("./assets/icons/arrow-green.png") no-repeat;
  cursor: pointer;
  transition: transform (ease-in-out) 0.4s;
  &:hover {
    transform: rotate(360deg);
  }
  &:active > .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
  &:active + .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
}

// .info {
//   border-top: 1px solid #c3c9c9;
// }

.info-block {
  border-top: 1px solid #c3c9c9;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #443444;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.category-info-block {
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
}
// .start-button-wrapper {
//   margin: 0 auto;
//   width: 70%;
//   display: flex;
//   justify-content: center;
// }
// .start-button {
//   width: 4.5rem;
//   height: 4.5rem;
//   border-radius: 190px;
//   border: 3px solid #f33346;
//   background-color: #ffd747;
//   font-size: 1rem;
//   text-transform: uppercase;
//   text-align: center;
//   line-height: 4.5rem;
//   color: #f33346;
//   font-weight: 700;
//   transition: transform ease-in-out 0.3s;
//   &:hover {
//     transform: rotate(360deg) scale(1.2);
//   }
// }
// .start-button-repeat {
//   background-color: #ffd747;
//   background-image: url("./assets/icons/reset40.png");
//   background-repeat: no-repeat;
//   background-position: center;
// transition: transform ease-in-out 0.3s;
// &:hover {
//   transform: rotate(360deg) scale(1.2);
// }
// }

// .none {
//   display: none;
// }

.res {
  margin: 0 auto;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: brown;
  background-color: #ffffff;
}
.img-res {
  width: 80%;
  height: 80%;
  background-size: cover;
}

// .loss {
//   background: url("./assets/res/coala-no.svg") no-repeat center;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }
// .win {
//   background: url(" ./assets/res/coala-good-job.svg") no-repeat center;
//   background-size: cover;
// }

@media screen and (max-width: 420px) {
  html {
    font-size: 14px;
  }
}
