@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-SemiBold.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}
input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  padding: 1.5rem 1.5rem 2.5rem 1.8rem;
  font-family: Quicksand, sans-serif;
  color: #f33346;
  background: url("./assets/paper-flower-background-4794429_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
}

button {
  margin: 0 0 0 0;
}

.main {
  max-height: auto;
}

h1 {
  display: none;
  width: 0.1px;
  height: 0.1px;
}
.nav {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.right-img-result {
  background: url("./assets/icons/heart-yel26.png");
  width: 26px;
  height: 26px;
}
.wrong-img-result {
  background: url("./assets/icons/heart-white26.png");
  width: 26px;
  height: 26px;
}

.cards-field {
  margin: 0 auto;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-container {
  margin: 1%;
  flex: 1 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;

  &:hover > .card {
    transform: translateZ(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}
.card {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.25rem black;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: transform 1s;
  perspective: 2000px;

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0.5rem;
    backface-visibility: hidden;
    transition: all 0.7s;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  &.flipped .card-front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  &.flipped .card-back {
    transform: rotateY(360deg);
  }
}
.hidden {
  visibility: hidden;
  width: 1px;
  height: 1px;
}
.before-start {
  pointer-events: none;
}

.img-card {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 70%;
  background-color: #ffffff;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("./assets/animals/animals16-leopard.svg");
  transition: all 0.5s;
}
.play {
  height: 90%;
}

.inactive {
  opacity: 0.2;
  pointer-events: none;
}

.flipp-button {
  width: 30px;
  height: 30px;
  background: url("./assets/icons/arrow-green.png") no-repeat;
  cursor: pointer;
  transition: transform (ease-in-out) 0.4s;
  &:hover {
    transform: rotate(360deg);
  }
  &:active > .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
  &:active + .card {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }
}

.info-block {
  border-top: 1px solid #c3c9c9;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #443444;
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.category-info-block {
  justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.res {
  margin: 0 auto;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: brown;
  background-color: #ffffff;
}
.img-res {
  width: 80%;
  height: 80%;
  background-size: cover;
}

@media screen and (max-width: 740px) {
  .res {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 14px;
  }
  .res {
    width: 300px;
    height: 300px;
  }
}
