.menu-wrapper {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 3px solid #f33346;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  transition: transform (ease-in-out) 0.7s;

  &:hover {
    transform: rotate(720deg) scale(1.2);
    background-color: #ffd747;
    color: #8ceeee;
  }
}

.menu {
  border-color: #f33346;
  transition: transform (ease-in-out) 0.7s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    background-color: #ffd747;
  }
}
.menu-line {
  margin: 0 auto;
  width: 1.8rem;
  height: 0.3rem;
  border-bottom: #f33346 solid 4px;
}

//switcher train-game start
.play-switch-btn {
  // width: 6rem;
  z-index: 1;
  position: relative;
  width: 6.9rem;
  height: 2rem;
  border-radius: 190px;
}
.play-switch {
  position: relative;
  display: inline-block;
  width: 7rem;
  height: 2.1rem;
}

.play-switch-box {
  opacity: 0;
  width: 0;
  height: 0;
}

.play-switch-slider {
  position: absolute;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 40px;
  line-height: 2.1rem;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 190px;
  font-size: 1rem;
  text-transform: uppercase;
}

.none {
  display: none;
}

.play-switch-slider:before {
  position: absolute;
  content: "";
  height: 1.9rem;
  width: 1.9rem;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 50%;
  background-color: #f33346;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  transition: 0.4s;
}

.play-switch-box:checked + .play-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 25px;
  line-height: 2.1rem;
  background-color: #ffd747;
  color: #ffffff;
  transition: 0.4s;
  border-radius: 190px;
  font-size: 1rem;
  text-transform: uppercase;
}

.play-switch-box:checked + .play-switch-slider:before {
  -webkit-transform: translateX(4.9rem);
  -ms-transform: translateX(4.9rem);
  transform: translateX(4.9rem);
  background-color: #f33346;
}
//switcher train-game end
