.loss {
  background: url("./../../assets/res/coala-no.svg") no-repeat center;
  background-size: cover;
  z-index: 10;
}

.loss-text {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #f33346;
}

@media screen and (max-width: 740px) {
  .loss-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .loss-text {
    font-size: 1.3rem;
  }
}
