.win {
  background: url(" ./../../assets/res/coala-good-job.svg") no-repeat center;
  background-size: cover;
  z-index: 1000;
}

.win-text {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #f33346;
}
@media screen and (max-width: 740px) {
  .win-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .win-text {
    font-size: 1.3rem;
  }
}
